.dropzone {
  background: transparent;
  /* display: flex; */
  /* flex-direction: column; */
  border: 2px dashed lightgray;
  border-radius: 15px;
  cursor: pointer;
  width: 160px;
  height: 80px;
}

.dropSign {
  border : none;
  height: 100%;
  width: auto;
  font-size: 20px;
  background-color: transparent;
  box-shadow: none;
  opacity: 0.1;
}